/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* just dark or light themes */
@import "https://unpkg.com/open-props/normalize.dark.min.css";
@import "https://unpkg.com/open-props/buttons.dark.min.css";
@import "https://unpkg.com/open-props/normalize.light.min.css";
@import "https://unpkg.com/open-props/buttons.light.min.css";

/* individual imports */
@import "https://unpkg.com/open-props/indigo.min.css";
@import "https://unpkg.com/open-props/indigo-hsl.min.css";
@import "https://unpkg.com/open-props/easings.min.css";
@import "https://unpkg.com/open-props/animations.min.css";
@import "https://unpkg.com/open-props/sizes.min.css";
@import "https://unpkg.com/open-props/gradients.min.css";
/* see PropPacks for the full list */

html {
    font-family: var(--font-humanist);
}


body {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \5fae\8f6f\96c5\9ed1, Arial, sans-serif;
    color: #555555;
    --text-font-stack: "Open Sans", "Arial", sans-serif;
    background: var(--gradient-9);
    padding-top: 20px;
  }
  
  :root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary:  #25c9d0;
    --color-success: #39d279;
    --color-warning: var(--color-warning, #f5a623);
    --color-danger: var(--color-danger, #e52d2d);
    --color-bubble: #45d0d6;
    --color-link: var(--color-link, #0bb4ba);
    --color-gray: #dfe2e6;
    --color-light-gray: #fafafa;
    --color-dark-gray: var(--color-text-secondary, #a2a2a2);
    --color-darker-gray: var(--color-darker-gray, #999);
    --color-dark: #233d4d;
    --color-william: #395e66;
    --color-electric-violet: #7549fa;
    --color-alto: #dbdbdb;
    --color-blue-dianne: #233d4d;
    --color-medium-purple: #7756da;
    --color-japonica: var(--color-japonica, #dd7373);
    --color-matisse: #2360a7;
    --color-cupid: var(--color-cupid, #fac4c4);
    --color-medium-pink: #c961aa;
    --font-size-extra-large: 20px;
    --font-size-large: 18px;
    --font-size-medium: 16px;
    --font-size-base: 14px;
    --font-size-small: 12px;
    --font-size-extra-small: 10px;
    --font-size-h1: 36px;
    --font-size-h2: 30px;
    --font-size-h3: 24px;
    --font-size-h4: 18px;
    --font-size-h5: 14px;
    --font-size-h6: 12px;
    --font-weight-primary: 600;
    --font-weight-bold: bold;
    --line-height-base: 1.428571429;
    --line-height-computed: 20px;
    --headings-line-height: 1.1
    --font:normal 14px var(--text-font-stack,"Open Sans","Arial",sans-serif);
  }

.main-container {
  background-color: var(--gray-0);
  width: 60%;
  min-height: 400px;
  box-shadow: var(--shadow-4);
  margin: auto;
  padding: 40px;
  border-radius: var(--radius-4);
}


.main-title {
  font-weight: var(--font-weight-7);
  /* letter-spacing: var(--font-letterspacing-3); */
  /* line-height: var(--font-lineheight-3); */
  font-size: var(--font-size-4);
}

/* .second-title {
  font-weight: var(--font-weight-7);
  font-size: var(--font-size-2);
} */

button {
  font-size: var(--font-size-h4) !important;
}

.api-card {
  margin-top: 20px;
  background-color: var(--gray-0);
  width:100%;
  min-height: 400px;
  box-shadow: var(--shadow-4);
  /* margin: auto; */
  padding: 14px;
  border-radius: var(--radius-4);
}

.tag {
  margin: 10px 0;
  margin-right: 10px;
  padding: 4px 10px;
  font-weight: var(--font-weight-7);
  /* max-width: 100px; */
  display: inline-block;
}


.method {
  /* min-width: 80px; */
  border-radius: var(--radius-4);
  /* min-width: 80px; */
  /* display: inline-block; */
}

.get {
  background-color: var(--green-7);
  color: white;
}

.post {
  background-color: var(--yellow-6);
  color: var(--color-white);
}

.put {
  background-color: orange;
  color: var(--color-white);
}


.type {
  border-radius: var(--radius-4);
}

.outbound {
  background-color: var(--green-7);
  color: var(--color-white);
}

.inbound {
  background-color: var(--red-12);
}

.api__header {
}

.api__header > h3 {
  display: inline-block;
  font-weight: var(--font-weight-7);
}

.box-info {
  border-radius: var(--radius-3);
  background-color: var(--stone-1);
  padding: 6px;
  box-shadow: var(--shadow-3);
  margin: 20px 0px;
}

.box-info .small-title {
  font-weight: var(--font-weight-7);
  letter-spacing: var(--font-letterspacing-3);
  line-height: var(--font-lineheight-3);
  font-size: var(--font-size-2);
  color: var(--cyan-5);
}

.box-info .box-info__content {
  display: block;
  width: 100%;
}


#platform-title {
  margin: 20px 0;
}

pre {
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  white-space: pre-wrap;
  line-height: 1.5;
  position: relative;
}
code {
  font-family: "Courier New", Courier, monospace;
  color: #f8f8f2;
}
.keyword {
  color: #66d9ef;
}
.string {
  color: #a6e22e;
}
.comment {
  color: #75715e;
}
.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.copy-button:hover {
  background-color: #0056b3;
}

.hide {
  display: none;
}